<html>
    <head>
        <title>Suroom Project</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Suroom Project</a></h1>
        </div>
        <p>
            <ul>
                <h3>Team members</h3>
                <li>32131704 박홍제</li>
                <li>32131728 윤한솔</li>
                <li>32131729 이동곤</li>
            </ul>
        </p>
        <hr>
        <p>
            <ul>
                <h3>Public API (for developer)</h3><br>
                <h4>Base url : https://las9897.pythonanywhere.com/rest/</h4>
                <li>admin/</li>
                <li>join/</li>
                <li>join/(pk:int)</li>
                <li>sign_in/</li>
                <li>choice/subject/</li>
                <li>choice/tendency/</li>
                <li>find/group/(int:pk)/</li>
            </ul>
        </p>
        <hr>
        <p>
            <a href="admin/"><em>관리자 페이지</em></a><br>
            <a href="rest/join/"><em>계정 정보 (개발용)</em></a><br>
            <a href="rest/choice/subject/"><em>Subject 선택 정보 (개발용)</em></a>
        </p>
        <hr>
    </body>
</html>
